@model  List<LearnerProject.Models.Entities.About>
@{
    Layout = null;
}

<h2 class="line-bottom mb-4" data-aos="fade-up" data-aos-delay="0">About Us</h2>
<p data-aos="fade-up" data-aos-delay="100">Far far away, behind the word mountains, far from the countries Vokalia and Consonantia, there live the blind texts. Separated they live in Bookmarksgrove right at the coast of the Semantics, a large language ocean.</p>
<ul class="list-unstyled ul-check mb-5 primary" data-aos="fade-up" data-aos-delay="200">
    <li>Separated they live</li>
    <li>Bookmarksgrove right at the coast</li>
    <li>large language ocean</li>
</ul>
